<div class="container">
  <div class="page-header">Manage Clients</div>
  <select class="form-control" id="client_manage_list">
    <option value="null" data-apikey="null" data-pluginid="null">Select Client</option>
    <% @clients.each do |cl| %>
      <option 
      	value="<%= cl[:id] %>" 
      	data-apikey="<%= cl[:authkey] %>" 
      	data-pluginid="<%= cl[:pluginid] %>" > 
      		<%= cl[:custom_id] %> 
    	</option>
    <% end %>
  </select>
  <br /><br />
  <div class="list-group">
    <div class="list-group-item list-group-item-success"> 
      Set Daily Requests Rate Limit (Set "0" to block client) 
      <input type="number" class="form-control" id="rate_limit" />
    </div>
  </div>
  <div id="formInfo"></div>
  <br />
  <button type="button" id="updateRateLimit" class="btn btn-default"> 
    Update 
  </button>

  <!-- For any Error Pass @error -->
  <div id="error">
    <% if @error then %>
      <div class="alert alert-error"><%= @error %></div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#updateRateLimit').click(function(){
    if ($('#client_manage_list').val() != "null" && $('#rate_limit').val()){
      $.post("/plugins/update",
      {
        plugin_id: $('#client_manage_list :selected').data("pluginid"),
        consumer_id: $('#client_manage_list :selected').val(),
        day_limit: $('#rate_limit').val(),
        apikey: $('#client_manage_list :selected').data("apikey")
      },
      function(data,status){
        if (data == "success"){
          $('#formInfo').html('<span class="label label-success">Updated Successfull</span>');
        } else {
          $('#formInfo').html('<span class="label label-danger">Error</span>');
        }
      });
    } else {
      $('#formInfo').html('<span class="label label-danger">Input values missing</span>');
    }
  });
</script>